@import 'tailwindcss';

html,
body,
#app {
  height: 100%;
  width: 100%;
}

#app {
  display: flex;
}

@theme {
  --animate-fall: fall 5s linear infinite;

  @keyframes fall {
    0% {
      transform: translateY(-100px) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(100vh) rotate(360deg);
      opacity: 0;
    }
  }
}
