@import url('https://fonts.googleapis.com/css2?family=Gidugu&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

:root {
  font-family: 'Gidugu', sans-serif !important;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
}

#app {
  display: flex;
}

@theme {
  --animate-fall: fall 5s linear infinite;
  --animate-fall-backwards: fall-backwards 5s linear infinite;

  @keyframes fall {
    0% {
      transform: translateY(-100px) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(100vh) rotate(360deg);
      opacity: 0;
    }
  }

  @keyframes fall-backwards {
    0% {
      transform: translateY(-100px) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(100vh) rotate(-360deg);
      opacity: 0;
    }
  }
}
